<main class="display-grid container-grid">
    <section>
        <input aria-label="input-search" id="movie" name="movieInput" (keyup.enter)="searchMovies(movieInput, 1)" [(ngModel)]="movieInput" placeholder="Busque um filme por nome, ano ou gênero..." (input)="debounce$.next($event.target.value)">
    </section>
    <div *ngFor="let movie of movies | paginate: { itemsPerPage: 5, currentPage: p }">
        <app-movie [movie]="movie" (openMovie)="openMovieid($event)" (selectGenre)="searchsendGenre($event)"></app-movie>
    </div>
    <section *ngIf="loading" class="display-flex not-found">
        <img src="./assets/img/loading.svg" alt="Loading">
    </section>
    <section *ngIf="pageSize == 0" class="display-flex not-found">
        <h2>Filme não encontrado...</h2>
    </section>
    <section class="display-flex pagination">
        <pagination-controls directionLinks="false" (pageChange)="p = $event" (click)="moveTop()"></pagination-controls>
    </section>
</main>